{% extends 'layout.html' %}
{% load static %}

{% block content %}
	
	<h2 class="text-center text-dark mt-4">
		Welcome Guest!
	</h2>

	<div class="container p-5">
		<div class="container bg-white p-3 text-dark border border-rounded shadow">
			<h3 class="text-center">
				What do we do ?
			</h3>
			<p>
				PythoKode is an online python IDE for python scripts that saves your codes for you. <br> This is a lite version we aim expanding to more
				great idea you would really love :)
			</p>
			<p>
				PythoKode was created by AbulMalik Diyaolu Opeyemi.
				Contact at links below for suggestions.
				<br>
				Github: http://github.com/maliex4mix4
				<br>
				Twiter: http://twitter.com/maliexmix
				<br>
				IG: http://instagram.com/maliex.mix
			</p>
		</div>
	</div>

{% endblock %}